{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier", "@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "consistent-return": "error",
    "prettier/prettier": "error",
    "no-unreachable": ["error"],
    "@typescript-eslint/no-unused-vars": ["error"]
  },
  "ignorePatterns": ["node_modules", "dist"]
}
